#Intersight Settings
api_key = "API KEY"
secretkey = "SECRET KEY"

ssh_keys = [ "ssh-ed25519 key user@host" ]
vcenter_name = "ipadres or hostname of vcenter target"
Passphrase = "password of vcenter"
